body{
    padding: 0;
    margin: 0;
    background-color: rgba(177, 143, 49, 0.727);
}

button{
    width: 100vw;
    height: 100vh;
    opacity: 0.01;
    position: fixed;
    background-color: rgb(35, 30,27);
    background-image: url(./img/todito.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.container{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.carta{
    width: 80vw;
    height: 90vh;
    align-self: center;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url();
}

#card{
    background-image: url(./img/back.png);
}

.animation{
    animation-duration: 1s;
    animation-name: clicker;
}


@keyframes clicker{
    0% {
        background-image: url(./img/todito.png);
        opacity: 1;
    }
    
    20% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }
    

    100% {
        opacity: 0;
    }    
}